body
{
    background-image: url(https://i.ibb.co/93gy0Q1/fondo-Pantalla.png);
    background-position: center center;
}

.image
{
    background-image: url(https://i.ibb.co/VtZ278f/fondo.png);
    background-position: center center;
    width: 600px;
    height: 500px;
}
