body
{
    background-image: url(../../img/fondoPantalla.png);
    background-position: center center;
}

.image
{
    background-image: url(../../img/fondo.png);
    background-position: center center;
    width: 600px;
    height: 500px;
}
